<form action="/persona/<%= persona.act %>" method="post" class="needs-validation" novalidate>
  <div class="form-group"  style="height: 70px; width: 50%; margin-left: 25%;">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" name="nombre" id="nombre" value="<%= persona.nombre %>" required>
    <div class="valid-feedback">
    </div>
    <p class="invalid-feedback" style="position: relative; top: -70px; left: 100px">
      El nombre es requerido
    </p>
  </div>
  <div class="form-group" style="height: 70px; width: 50%; margin-left: 25%;">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control" name="apellido" id="apellido" value="<%= persona.apellido %>" required>
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback" style="position: relative; bottom: 10px; top: -70px; left: 100px">
      El apellido es requerido
    </div>
  </div>
  <div class="form-group" style="height: 70px; width: 50%; margin-left: 25%;">
    <label for="dni">DNI</label>
    <input type="text" class="form-control" name="dni" id="dni" value="<%= persona.dni %>" required>
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback" style="position: relative; top: -70px; left: 100px">
      El DNI es requerido
    </div>
  </div>
  <div class="form-group" style="height: 70px; width: 50%; margin-left: 25%;">
    <label for="correo">Correo</label>
    <input type="email" class="form-control" name="correo" id="correo" value="<%= persona.correo %>" required>
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback" style="position: relative; top: -70px; left: 100px">
      El Correo es requerido
    </div>
  </div>
  <div class="form-group" style="height: 70px; width: 50%; margin-left: 25%;">
    <label for="direccion">Dirección</label>
    <input type="text" class="form-control" name="direccion" id="direccion" value="<%= persona.direccion %>" required>
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback" style="position: relative; top: -69px; left: 100px; margin-bottom: 0">
      La dirección es requerida
    </div>
  </div>
  <input type="hidden" class="form-control" name="id" value="<%= persona.id %>">
<div style="text-align: center; width: 100%">
  <input type="submit" class="btn btn-primary" onclick="verificarRequeridos()" style="text-transform: capitalize"
         value="<%= persona.act %>">

  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirmationModal">
    Volver
  </button>
</div>
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea volver?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> <%= persona.modalText %></p>
        </div>
        <div class="modal-footer" style="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a href="/persona/lista" class="btn btn-primary">Volver</a>
        </div>
      </div>
    </div>
  </div>

</form>
