<div class="container" style="margin-bottom: 5%">
  <div class="row">
    <div class="container" style="margin-bottom: 30px;margin-top: 30px; margin-right: 18%">
      <div class="row">
        <div class="col-5">
          <h1>Lista de personas</h1>
        </div>
        <div class="col-3">
          <a href="/persona/formulario/0" class="btn btn-info btn-lg btn-block">Nuevo <i class="fas fa-plus"></i></a>
        </div>
        <div class="col-4" style="padding-right: 0;">
            <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" name="buscador"
                   onkeyup="buscarPersona()">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: auto">
    <div class="container" id="tabla">
      <% for(var i = 0; i < persona.length ; i++){ %>
      <div class="row">
          <div class="container" id="tarjeta">
            <div class="row">
              <div class="col-2" id="foto-wrapper">
                <div id="foto-placeholder">
                </div>
              </div>
              <div class="col" id="tarjeta-info">
                <div id="tarjeta-titulo"> <%= persona[i].apellido %>, <%= persona[i].nombre %> </div>
                <div class="tarjeta-contenido">
                  <div> DNI: <%= persona[i].dni %> </div>
                  <div> <%= persona[i].correo %> </div>
                  <div> <%= persona[i].direccion %> </div>
                </div>
              </div>
              <div class="col-1" style="padding: 0">
                <a href="/persona/formulario/<%= persona[i].id %>">
                  <div class="tarjeta-boton">
                    <button class="btn-info btn">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                  </div>
                </a>
                <div class="tarjeta-boton">
                  <button class="btn-danger btn" data-toggle="modal" data-target="#deleteModal<%= persona[i].id %>">
                    <i class="fas fa-trash"></i>
                  </button>
                  <!--Comienzo de Modal para eliminar-->
                  <div class="modal fade" id="deleteModal<%= persona[i].id %>" tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel2<%= persona[i].id %>">Está por eliminar a</h5>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <b><%= persona[i].nombre %> <%= persona[i].apellido %></b>
                          <div style="padding-left: 20px">
                            DNI: <%= persona[i].dni %>
                            <br>
                            Correo: <%= persona[i].correo %>
                            <br>
                            Dirección: <%= persona[i].direccion %>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                          <a class="btn-danger btn" href="/persona/eliminar/<%= persona[i].id %>">Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Final de Modal para eliminar-->
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

