<%if (curso.nombreDelCurso == null){%>
<form action="/agregarCurso" method="post">
  <%}else{%>
  <form action="/modificarCurso" method="post">
    <%}%>
    <div class="form-group">
      <label for="nombreDelCurso">Nombre Curso</label>
      <input type="text" class="form-control" name="nombreDelCurso" value="<%=curso.nombreDelCurso%>">
    </div>
    <div class="form-group">
      <label for="fechaInicioCurso">Fecha de Inicio Curso</label>
      <input type="number" class="form-control" name="fechaInicioCurso" value="<%=curso.fechaInicioCurso%>">
    </div>
    <div class="form-group">
      <label for="fechaFinCurso">Fecha Fin Curso</label>
      <input type="number" class="form-control" name="fechaFinCurso" value="<%=curso.fechaFinCurso%>">
    </div>
    <div class="form-group">
      <label for="diasDeCursos">Dias De Cursos</label>
      <input type="text" class="form-control" name="diasDeCursos" value="<%=curso.diasDeCursos%>">
    </div>
    <div class="form-group">
      <label for="horaInicioCurso">Hora Inicio Curso</label>
      <input type="number" class="form-control" name="horaInicioCurso" value="<%=curso.horaInicioCurso%>">
    </div>
    <div class="form-group">
      <label for="horaFinCurso">Hora Fin Cursos</label>
      <input type="number" class="form-control" name="horaFinCurso" value="<%=curso.horaFinCurso%>">
    </div>
    <div class="form-group">
      <label for="descripcionCurso">Descripcion del Curso</label>
      <input type="text" class="form-control" name="descripcionCurso" value="<%=curso.descripcionCurso%>">
    </div>
    <div class="form-group">
      <label for="aula">Aula</label>
      <input type="number" class="form-control" name="aula" value="<%=curso.aula%>">
    </div>
    <div class="form-group">
      <label for="CupoCursos">Cupos del Cursos</label>
      <input type="number" class="form-control" name="CupoCursos" value="<%=curso.CupoCursos%>">
    </div>

    <%if (curso.nombreDelCurso == null){%>
    <input type="submit" class="btn btn-primary" value="AgregarCurso">
    <%}else{%>
    <input type="submit" class="btn btn-primary" value="ModificarCurso">
    <%}%>
  </form>
