<h1>Cursos</h1>


<table id="cursos" class="table" style="width: 60%; margin:auto;">
  <thread class="table-dark">
    <tr>
      <th>Listado</th>
    </tr>
  </thread>

  <tbody id="table">
  <% for(var i = 0; i < docencia.length ; i++){ %>
  <tr>
    <td>
      <div class="card" style="width: auto;">
        <div class="card-body">
          <h4 class="card-title"><%= docencia[i].nombreDelCurso %></h4>
          <h5 class="card-subtitle mb-2 text-muted"><%= docencia[i].docentes%></h5>
          <p class="card-text"> Hora de inicio: <%= docencia[i].horaInicioCurso %>hs</p>
          <p class="card-text"> Aula: <%= docencia[i].aula%> </p>

          <a href="/asistencia/verAsistencia/<%= docencia[i].id %>" class="btn-outline-info btn"> Info
            <i class="fas fa-eye"></i>
          </a>
          <a href="/asistencia/lista/<%= docencia[i].id %>" class="btn-outline-primary btn"> Nueva clase
              <i class="fas fa-plus"></i>
            </a>
        </div>
      </div>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>
