<div class="container" style="margin-bottom: 5%">
  <form>
    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="nombre">Buscar</label>
        <input type="text" name="nombre" onkeyup="buscarBautismo()" placeholder="Busqueda de turno por nombre o DNI"
               size="50">
      </div>
      <div class="col">
        <a href="/bautismos/add" class="btn btn-primary">Nuevo Turno</a>
      </div>
    </div>
  </form>

  <div class="container" id="tabla">
    <% for(var i = 0; i < a.length ; i++){
      var fecha = new Date(a[i].fecha * 1); %>
    <div class="row">
      <div class="container" id="tarjeta">
        <div class="row">
          <div class="col" id="tarjeta-info">
            <div id="tarjeta-titulo"> <%= a[i].nombre %> </div>
            <div class="tarjeta-contenido">
              <div> DNI: <%= a[i].dni %> </div>
              <div> Fecha del turno: <%= ("00" + fecha.getDate()).substr(-2) %>/<%= ("00" + (fecha.getMonth() + 1)).substr(-2) %>/<%= fecha.getFullYear() %> </div>
              <div> Turno: <%= a[i].turno %> </div>
            </div>
          </div>
          <div class="col-1" style="padding: 0">
            <div class="row">
              <a href="/bautismos/<%= a[i].id %>">
                <div class="tarjeta-boton">
                  <button class="btn btn-primary">
                    <i class="fas fa-eye"></i>
                  </button>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/bautismos/modificar/<%= a[i].id %>">
                <div class="tarjeta-boton">
                  <button class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </div>
              </a>
            </div>
            <div class="row">
              <div class="tarjeta-boton">
                <button class="btn btn-danger" data-toggle="modal"
                        data-target="#eliminarModal<%= a[i].id %>">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
              <!-- Modal para eliminar -->
              <div class="modal fade" id="eliminarModal<%= a[i].id %>" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel2<%= a[i].id %>">Está a punto de eliminar un
                        turno</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                      <a class="btn btn-danger" href="/bautismos/eliminar/<%= a[i].id %>">Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
