<div class="container">
  <form method="post" action="/modBautismo" id="my-form">
    <div class="form-group row col-12 flex-fill">
      <label for="listaPadrino" class="col-form-label">Padrino(s) y Madrina(s) actuales:</label>
      <div id="listaPadrinos" class="form-group row col-12 flex-column">
        <ul>
          <% for(let i = 0; i<a.padrinos.length; i++) { %>
          <li><%= a.padrinos[i].nombre %> <%= a.padrinos[i].apellido %></li>
          <% } %>
        </ul>
      </div>
      <div class="form-group row col-12">
        <div class="col-auto">
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#ModalPadrino">
            Seleccionar Nuevos Padrinos y Madrinas</button>
        </div>
        <div class="col-auto">
          <a class="btn btn-primary" href="/persona/formulario/0" role="button">Nueva Persona</a>
        </div>
      </div>
    </div>
    <input type="hidden" name="inputid" id="inputid" value="<%= a.id %>">
    <div class="form-group row col-12">
      <label for="inputnombre">Nombre y Apellido actual: <b><%= a.nombre %></b></label>
      <input name="inputnombre" class="form-control" id="inputnombre" type="text" placeholder="Nuevo Nombre y Apellido" required>
    </div>
    <div class="form-group row col-12">
      <label for="inputdni">DNI actual: <b><%= a.dni %></b></label>
      <input name="inputdni" class="form-control" id="inputdni" type="text" placeholder="Nuevo DNI" required>
    </div>
    <div class="form-group row col-12">
      <% var fecha = new Date(a.fecha * 1); %>
      <% var strfecha = ("00"+fecha.getDate()).substr(-2) + " / " + ("00"+(fecha.getMonth() + 1)).substr(-2) + " / " + fecha.getFullYear()%>
      <label for="inputfecha">Fecha actual: <b><%= strfecha %></b></label>
      <input name="inputfecha" class="form-control" id="inputfecha" type="date" required>
    </div>
    <div class="form-group row col-12">
      <label for="inputturno">Turno actual: <b><%= a.turno %></b></label>
      <select name="inputturno" class="form-control" id="inputturno" required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div class="form-group row col-12">
      <div class="col-auto">
        <input type="submit" class="btn btn-primary btn-block" value="Modificar">
      </div>
      <div class="col-auto">
        <a href="javascript:history.back(1)" class="btn btn-secondary">Volver</a>
      </div>
    </div>
  </form>
</div>

<!-- Modal Padrinos-->
<div class="modal fade" id="ModalPadrino" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Seleccionar padrinos y madrinas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <table id="personas" class="table table-striped table-hover" style="width: 50%; margin:auto;">
            <thead>
            <tr>
              <th>Agregar</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
            </tr>
            </thead>
            <tbody id="tabla">
            <% for(var i = 0; i < persona.length ; i++){ %>
            <tr>
              <td>
                <div class="form-check">
                  <% if(a.idspadrinos.includes(persona[i].id)) {%>
                  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox<%= persona[i].id %>" value="<%= persona[i].id %>" checked>
                  <% } %>
                  <% if(!(a.idspadrinos.includes(persona[i].id))) { %>
                  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox<%= persona[i].id %>" value="<%= persona[i].id %>">
                  <% } %>
                </div>
              </td>
              <td><%= persona[i].nombre %></td>
              <td><%= persona[i].apellido %></td>
              <td><%= persona[i].dni %></td>
            </tr>
            <% } %>
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" onclick="bautismoCheckboxes()" data-dismiss="modal" class="btn btn-primary" value="Agregar">
      </div>
    </div>
  </div>
</div>
