<div class="container" style="width: 40%; margin:auto;">
  <div class="row">
    <div class="col"><h5>Nombre</h5></div>
    <div class="col"><%= a.nombre %></div>
  </div>
  <div class="row">
    <div class="col"><h5>DNI</h5></div>
    <div class="col"><%= a.dni %></div>
  </div>
  <div class="row">
    <% var fecha = new Date(a.fecha * 1); %>
    <div class="col"><h5>Fecha</h5></div>
    <div class="col"><%=("00"+fecha.getDate()).substr(-2)%>/<%=("00"+(fecha.getMonth() + 1)).substr(-2)%>/<%=fecha.getFullYear()%></div>
  </div>
  <div class="row">
    <div class="col"><h5>Turno</h5></div>
    <div class="col"><%= a.turno %></div>
  </div>
  <div class="row">
    <div class="col"><h5>Padrinazgos</h5></div>
    <div class="col">
      <ul>
        <% for(var i = 0; i < a.padrinos.length; i++) { %>
        <li><%= a.padrinos[i].nombre %> <%= a.padrinos[i].apellido %></li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="row">
    <a href="javascript:history.back(1)" class="btn btn-secondary">Volver</a>
  </div>
</div>
